<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <form method="post" action="{{ url_for('add_pact') }}">

        <div>Клиент</div>
        {% for c in clients %}
            <input type="radio" name="clients" value="{{ c[0] }}">
            {{ c[1] }} {{ c[2] }} {{ c[3] }}
        {% endfor %}

        <div>Организация</div>
        {% for c in companys %}
            <input type="radio" name="companys" value="{{ c[0] }}">
            {{ c[1] }} {{ c[2] }}
        {% endfor %}

        <div>Менеджер</div>
        {% for m in managers %}
            <input type="radio" name="managers" value="{{ m[0] }}">
            {{ m[1] }} {{ m[2] }} {{ m[3] }}
        {% endfor %}

        <div>Комната</div>
        {% for r in rooms %}
            <input type="radio" name="rooms" value="{{ [r[0],r[1]] }}">
            {{ r[1] }} {{ r[2] }} {{ r[3] }} {{ r[4] }} {{ r[5] }}руб.
        {% endfor %}

        <div>Услуги</div>
        {% for s in serveces %}
            <input type="checkbox" name="serveces" value="{{ s[0] }}">
            {{ s[1] }} {{ s[2] }}руб.
        {% endfor %}

        <div>Количество чел</div>
        <input name="human_county" type="number">

        <div>Дата заселения</div>
        <input type="date" name="check_in_date">

        <div>Дата выселения</div>
        <input type="date" name="check_out_date">

        <input type="submit" value="оформить договор">

    </form>
</body>
</html>