{% extends "base.html" %}

{% block content %}
<div class="clients-content" >
    <h1 class="page-title">Добавить организацию</h1>

    <form class="clients-form" method="post" action="{{ url_for('add_company') }}" autocomplete="off">
        <input class="clients-input" name="name_company" placeholder="Название организации" required>
        <input class="clients-input" name="type_company" placeholder="Тип организации" required>
        <input class="clients-input" name="bank_account" placeholder="Банковский счет" required>
        <input class="clients-input-button" type="submit" value="Добавить организацию" required>
    </form>

    </div>
{% endblock %}