{% extends "base.html" %}

{% block content %}
<div class="clients-content" >
    <h1 class="page-title">Добавить менеджера</h1>

    <form class="clients-form" method="post" action="{{ url_for('add_manager') }}" autocomplete="off">
        <input class="clients-input" name="manager_surname" placeholder="Фамилия" required>
        <input class="clients-input" name="manager_name" placeholder="Имя" required>
        <input class="clients-input" name="manager_patronomic" placeholder="Отчество" required>
        <input class="clients-input-button" type="submit" value="добавить менеджера">
    </form>

</div>
{% endblock %}