{% extends "base.html" %}

{% block content %}
<div class="clients-content" >

    <h1 class="page-title">Оформить договор</h1>

    <form class="clients-form" method="post" action="{{ url_for('add_pact') }}">

        <div class="table-name">Клиент</div>

        <div>
            {% for c in clients %}
                <input class="client-checkbox" type="radio" name="clients" value="{{ c[0] }}">
                {{ c[1] }} {{ c[2] }} {{ c[3] }} <br>
            {% endfor %}
        </div>

        <div class="table-name">Организация</div>

        <div>
            {% for c in companys %}
                <input  class="client-checkbox" type="radio" name="companys" value="{{ c[0] }}">
                {{ c[1] }} {{ c[2] }} <br>
            {% endfor %}
        </div>

        <div class="table-name">Менеджер</div>

        <div>
            {% for m in managers %}
                <input  class="client-checkbox" type="radio" name="managers" value="{{ m[0] }}">
                {{ m[1] }} {{ m[2] }} {{ m[3] }}<br>
            {% endfor %}
        </div>

        <div class="table-name">Комната</div>

        <div>
            {% for r in rooms %}
                <input class="client-checkbox" type="radio" name="rooms" value="{{ r[0] }}, {{ r[1] }}">
                {{ r[1] }} {{ r[2] }} {{ r[3] }} {{ r[4] }} {{ r[5] }}руб.<br>
            {% endfor %}
        </div>

        <div class="table-name">Услуги</div>

        <div>
            {% for s in serveces %}
                <input class="client-checkbox" type="checkbox" name="serveces" value="{{ s[0] }}">
                {{ s[1] }} {{ s[2] }}руб.<br>
            {% endfor %}
        </div>

        <div class="table-name">Количество чел</div>
        <input class="clients-input" name="human_county" type="number">

        <div class="table-name">Дата заселения</div>
        <input class="clients-input" type="date" name="check_in_date">

        <div class="table-name">Дата выселения</div>
        <input class="clients-input" type="date" name="check_out_date">

        <input class="clients-input-button" type="submit" value="оформить договор">

    </form>

    </div>
{% endblock %}